.Title {
  padding: 1rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.header {
  margin-top: 20px;
}
.footer {
  height: 10%;
  width: 100%;
  font-size: 30px;
  color: white;
  padding-top: 10px;
  text-indent: 50px;
}
.left-margin {
  margin-left: 10px;
}
.timeline {
  border-top: solid;
  border-color: rgb(0, 128, 58);
}
