.Title {
  padding: 1rem;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.margin-bottom{
  margin-bottom: 1rem;
}
.SocialIcons{
  margin-left: .5px;
}
.scroll{
  height: 400px;
  overflow:auto;
}